---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Inicio">
  <section class="hero">
    <div class="hero-content">
      <h1>Comprá. Vendé. Ofertá.</h1>

      <div class="hero-buttons">
        <a href="/comprar/" class="ab-cta-button">
          Comprá
        </a>

        <a href="/vender/" class="ab-cta-button">
          Vendé
        </a>

        <a href="/oferta/" class="ab-cta-button">
          Ofertá
        </a>
      </div>
    </div>
  </section>
</MainLayout>
